@import url("pylons.css");

h2 {
    border-bottom-width: 1px;
    border-bottom-style: inset;
}

ol li pre, ul li pre {
    margin-bottom: 10px;
}

code.literal, pre {
  padding: 2px;
  border: none;
}

dd p {
  margin: 14px 0;
}

#usage > dl.class > dt,
#usage > dl.class .method .descclassname {
  display: none;
}